<div class="landingSection">
    <div class="video-container">
        <video autoplay loop [muted]="true">
            <source src="assets/imgs/index/warp.mp4" type="video/mp4" />
        </video>
    </div>
    <!-- <img class="kenburnsBackground" src="assets/imgs/index/bg.png"> -->
    <div class="pcoded-wrapper d-flex align-items-center justify-content-center">
        <div class="container-fluid customContainer">
            <div class="row">
                <div class="col-0 col-sm-2 col-lg-2"></div>
                <div class="col-12 col-sm-8 col-lg-8">
                    <h1 class="text-center mt-4 mb-4"> Tools for Digital Life </h1>
                    <h3 class="text-center mb-4">
                        An integrated high-performance open-source smart contract platform built for Web3
                    </h3>
                    <div class="text-center">
                        <button (click)="learn()" class="btn btn-lg fw-bold speedUpBtn">
                            Learn More
                        </button>
                    </div>
                </div>
                <div class="col-0 col-sm-2 col-lg-2"></div>
                <div class="row justify-content-center mt-5 mx-1">
                    <div class="text-center landing-box"><h3 class="fw-bold mb-0">FAST <br> High Throughput</h3></div>
                    <div class="text-center landing-box"><h3 class="fw-bold mb-0">ULTRA SCALABLE Blockchain Finality Without Compromise </h3></div>
                    <div class="text-center landing-box"><h3 class="fw-bold mb-0">SECURE <br> dBFT Consensus Mechanism</h3></div>
                    <div class="text-center landing-box"><h3 class="fw-bold mb-0">SUSTAINABLE <br> Green, Low-Cost, Dual-Token Ecosystem</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offerTools">
    <div class="container-fluid customContainer py-2">
        <div class="row py-sm-2 py-lg-2">
            <div class="col-12">
                <h2 class="fw-bold text-center"> Build on dVITA </h2>
            </div>
            <div class="col-12 row d-flex align-items-center justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <h5 class="text-center fw-bold">
                        A developer and eco-friendly Proof-of-Stake smart contract platform with built-in, native tools,
                        features and services for rapid Web3 development
                    </h5>
                </div>
            </div>
            <div class="col-12 pt-sm-2 pt-lg-2">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/multi_coding.svg">
                            <h4 class="fw-bold mt-1"> MULTI-LINGUAL CODING </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Code In Your Choice of C#, Python, Go, Java and VS Code, Among Others
                            </h5>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/native_oracle.svg">
                            <h4 class="fw-bold mt-1"> NATIVE ORACLES </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Native Oracle Data Services
                            </h5>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/dbft.svg">
                            <h4 class="fw-bold mt-1"> dBFT </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Delegated Byzantine Fault Tolerance Delivers Secure and Speedy Block Finality
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/ide.svg">
                            <h4 class="fw-bold mt-1"> DEVELOPER TOOLKITS </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Build, Edit, Debug, Deploy Smart Contracts and dApps with Integrated IDE
                            </h5>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 align-items-center justify-content-center">
                        <div class="tool text-center py-5">
                            <button routerLink="/build-now" class="launchBtn btn-lg fw-bold">
                                Build Now
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/identity.svg">
                            <h4 class="fw-bold mt-1"> IDENTITY </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Integrated Digital Identity Tools for Enhanced Data Privacy and Security
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/ddns.svg">
                            <h4 class="fw-bold mt-1"> DDNS </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Integrated Decentralized Domain Name Service
                            </h5>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/dual_token_network.svg">
                            <h4 class="fw-bold mt-1"> DUAL TOKEN NETWORK </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Native, Decoupled Governance and Gas Token Ecosystem
                            </h5>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="tool text-center">
                            <img src="assets/imgs/index/dfs.svg">
                            <h4 class="fw-bold mt-1"> DFS </h4>
                            <h5 class="text-center fw-bold px-1 px-sm-1">
                                Integrated Decentralized File Storage
                            </h5>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- <div class="video pb-5">
    <div class="customHR"></div>
    <div class="moonRover">
        <img src="assets/imgs/index/moon-rover.svg">
    </div>
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center my-5">
            <div class="col-12 text-center">
                <img src="assets/imgs/index/video.png" class="videoPlayer">
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="rocket-block build py-5" #animationDiv>
    <div class="container-fluid customContainer">
        <div class="row my-4 py-3 py-sm-4 py-lg-5">
            <div class="col-12 col-lg-6">
                <h4 class="fw-bold text-center"> Designed for all developers </h4>
                <h2 class="fw-bold text-center"> Build on dVITA </h2>
                <h5 class="text-center">
                    dVITA protocol was designed for the express purpose of being developer-friendly. Multilingual
                    smart contracts are only the start. Toolkits, with both traditional and web-based IDE
                    integration options, empower developers and enable legacy Enterprises to warp into the Web3
                    economy.
                </h5>
                <div class="col-12 text-center py-4">
                    <button class="launchBtn btn btn-lg fw-bold"> -->
                        <!-- (click)="launch()" -->
                        <!-- Build now
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6 justify-content-center align-items-center">
                <div class="codeBlock text-center">
                    <img src="assets/imgs/index/code_transparent.png">
                </div>
            </div> -->
            <!-- <div class="col-12 row d-flex align-items-center justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <h5 class="text-center">
                        dVITA protocol was designed for the express purpose of being developer-friendly. Multilingual
                        smart contracts are only the start. Toolkits, with both traditional and web-based IDE
                        integration options, empower developers and enable legacy Enterprises to warp into the Web3
                        economy.
                    </h5>
                </div>
            </div>
            <div class="col-12 text-center py-4">
                <button class="launchBtn btn btn-lg fw-bold">
                    (click)="launch()"
                    Build now
                </button>
            </div> -->
        <!-- </div>
    </div>
    <div class="animationDiv">
        <img src="assets/imgs/index/stars.svg" class="stars">
        <img src="assets/imgs/index/cloud1.svg" class="cloud1">
        <img src="assets/imgs/index/cloud2.svg" class="cloud2">
        <img src="assets/imgs/index/rocket.svg" class="rocket">
        <img src="assets/imgs/index/smoke1.svg" class="smoke1">
        <img src="assets/imgs/index/smoke2.svg" class="smoke2">
    </div>
</div> -->