/** Manrope Font */
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-ExtraBold.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(../fonts/Manrope/Manrope-ExtraLight.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/** FuturaPT Font */
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTExtraBold.otf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTBold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTHeavy.otf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTMedium.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTMedium.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(../fonts/FuturaPT/FuturaPTLight.otf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/** OpenSans Font */
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-ExtraBold.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(../fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}