<!-- <div class="container-fluid">
    <div class="close">
        <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="bold purple"> Thank You for Your interest! <br> This section is coming soon </h3>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="close">
        <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="row mt-5 text-center">
        <h5 class="m-0 mb-1 message">
            <app-message-title>Thank You for Your interest</app-message-title>
        </h5>
        <h5 class="m-0 message">
            This section is coming soon
        </h5>
    </div>
</div>