<div class="container-fluid customContainer">
    <div class="col-12 col-lg-6 py-5">
        <app-page-title>Privacy Policy</app-page-title>
    </div>

    <!-- 1st row -->
    <!-- <div class="whatIs py-4">
        <div class="container-fluid customContainer">
            <div class="row">
                <div class="col-12 col-lg-4 customCol">
                    <div class="justify-content-center">
                        <strong> What is dVITA? </strong>
                        <div>
                            <br>
                            dVITA is a proof-of-stake smart contract, distributed ledger technology (DLT) platform
                            with a delegated Byzantine Fault Tolerant (dBFT) consensus mechanism operating on a
                            decentralized network.
                            At its simplest, dVITA has been designed and developed to be a developer- and user-friendly,
                            open-source, public blockchain platform for the management of all forms of digital assets.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 customCol">
                    <div class="justify-content-center">
                        <strong> What is dVITA Foundation? </strong>
                        <div>
                            <br>
                            The dVITA Foundation is the steward of the dVITA blockchain network and its supporting
                            organizational entities -- dVITA Labs and dVITA Capital Management,
                            which are solely funded by the Foundation.
                            The Foundation’s mission is to support research, development and investment in open-source /
                            open-finance
                            blockchain
                            projects designed to improve financial inclusion and entrepreneurship.
                            These efforts will be aligned with the UN’s Sustainable Development Goals (SDGs) for
                            emerging markets,
                            with an initial focus on Middle Eastern and African (MEA) economies.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 customCol">
                    <div class="justify-content-center">
                        <strong> How does the dVITA Foundation intend to fulfill its use case goals? </strong>
                        <div>
                            <br>
                            Maintain informational website and blog for the dVITA blockchain community,
                            organize contests that promote new apps and technologies that use dVITA
                            as its underlying platform and provide links to authorized dVITA code repositories.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- 2nd row -->
    <!-- <div class="whatIs py-4">
        <div class="container-fluid customContainer">
            <div class="row">
                <div class="col-12 col-lg-4 mt-4 customCol">
                    <div class="px-0 px-lg-3 justify-content-center">
                        <strong> What types of use cases will the dVITA Foundation focus on? </strong>
                        <div>
                            <br>
                            Developing country and African blockchain use cases
                            (mobile banking for non-banked and under-banked, credit assessment,
                            pre-pay services, usage based micro-financing, micro services, digital asset exchange,
                            identity solutions, peer to peer lending, medical records, and merchant services).
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-4 customCol">
                    <div class="px-0 px-lg-3 justify-content-center">
                        <strong> How can I get dVITA tokens? </strong>
                        <div>
                            <br>
                            You can purchase dVITA GAS tokens in the secondary market on various exchanges
                            or apply for grants at the dVITA Foundation.
                            You can also earn dVITA GAS tokens if you are dVITA holder and you vote on various
                            community network initiatives.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-4 customCol">
                    <div class="px-0 px-lg-3 justify-content-center">
                        <strong> What does the dVITA token enable a holder to do? </strong>
                        <div>
                            <br>
                            Gives the right to access and use the network.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- 3rd row -->
    <!-- <div class="whatIs py-4">
        <div class="container-fluid customContainer">
            <div class="row">
                <div class="col-12 col-lg-6 mt-4 customCol">
                    <div class="px-0 px-lg-3 justify-content-center">
                        <strong> Why does the dVITA Foundation have an Advisory Board? </strong>
                        <div>
                            <br>
                            Mauritius has created a sandbox for the simulation of nascent crypto platforms.
                            To provide investors with a regulated environment for the safe custody of digital assets
                            and to enable the exchange of digital assets, the Mauritius’ Financial Services Commission
                            (Mauritius FSC)
                            will be introducing two new licensable activities,
                            namely:
                            1. Custodian of Digital Assets Licence.
                            2. Digital Asset Marketplace Licence.
                            The Mauritius FSC will also be implementing guidelines for investment in cryptocurrencies as
                            digital
                            assets.
                            A National Regulatory Sandbox License Committee is due to be setup,
                            comprising representatives of the Bank of Mauritius (BoM),
                            Mauritius FSC, Mauritius’ Economic Development Board (EDB) and Financial Intelligence Unit.
                            The Committee will be tasked with considering all issues relating to the issuing of
                            Regulatory Sandbox Licences (RSLs) for FinTech activities and to provide guidance on the
                            regulatory
                            framework.
                            Applicants for FinTech activities will be required to have appropriate cyber security and
                            cyber
                            resilience policies and capacities in place.
                            The Anti Money Laundering (AML) and terrorist financing framework for both banking
                            and non-banking financial services will be updated to be compatible with developments in
                            FinTech.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-4 customCol">
                    <div class="px-0 px-lg-3 justify-content-center">
                        <strong> Did dVITA do an ICO (Initial Coin Offering) or Crowdsale? </strong>
                        <div>
                            <br>
                            No, There was no Crowdsale. dVITA tokens were earned through participation in the network.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>