<div class="container-fluid smallCustomContainer">
    <div class="row py-4 py-lg-5">
        <div class="col-12">
            <h2 class="bold purple"> Become<br> our partner </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-2">
            <div class="fw-bold"> You are welcome to become our Partner </div>
        </div>
        <div class="col-12 col-lg-6">
            <div> Apply to become a partner today by filling out our partner application form. We will contact You and
                let You know about next steps. </div>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 col-sm-6 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Company Name </div>
            <input type="text" placeholder="Enter company name">
        </div>
        <div class="col-12 col-sm-6 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Industry </div>
            <input type="text" placeholder="Enter">
        </div>
        <div class="col-12 col-sm-6 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Your Name </div>
            <input type="text" placeholder="Enter">
        </div>
        <div class="col-12 col-sm-6 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Your position in the company </div>
            <input type="text" placeholder="Enter">
        </div>
        <div class="col-12 col-sm-6 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Your e-mail </div>
            <input type="text" placeholder="Enter">
        </div>
        <div class="col-12 py-3 py-sm-4">
            <div class="fw-bold m-0 mb-1"> Describe Your proposal or interest </div>
            <input type="text" placeholder="Describe Your proposal or interest">
        </div>
        <div class="col-12 py-3 py-sm-4">
            <button mat-raised-button routerLink="/become-our-partner"> Send </button>
        </div>
    </div>
</div>
