.container-fluid {
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        mat-icon {
            cursor: pointer;
        }
    }
    h2 {
        font-weight: 800;
        font-size: 36px;
        line-height: 120%;
        color: #742D80;
    }
    input {
        width: 100%;
        height: 44px;
        border-radius: 22px;
        border: 1px solid lightgray;
        padding: 0 16px;
        &:focus-visible {
            outline: none;
        }
    }
    .leftText {
        color: #742D80;
        font-weight: 500 !important;
    }
    a {
        text-decoration: none;
        color: #43AE44;
    }
    button.mat-raised-button {
        background-color: #43AE44;
        width: 191px;
        height: 48px;
        border-radius: 24px;
        color: white;
        font-size: 16px;
    }
}