<div class="container-fluid smallCustomContainer">
    <div class="row py-3 py-lg-5">
        <div class="col-12">
            <div class="largeText">
                Regulatory and Compliance
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <h5 class="fw-bold"> Our Regulatory and Compliance </h5>
            <h5>
                The Foundation has been officially established and certified for both for-profit and non-profit
                purposes. Contact us for more info on our charter and project info.
            </h5>
            <div class="arrows d-none d-lg-block mt-5">
                <button mat-icon-button class="me-3">
                    <img src="assets/imgs/landing/left-arrow.svg">
                </button>
                <button mat-icon-button>
                    <img src="assets/imgs/landing/right-arrow.svg">
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-none d-lg-block">
            <img src="assets/imgs/compliance/compliance.png" class="w-100">
        </div>

        <div class="col-12 col-lg-6 d-flex d-lg-none align-items-center justify-content-between py-4">
            <button mat-icon-button class="me-3 d-none d-sm-block">
                <img src="assets/imgs/landing/left-arrow.svg">
            </button>
            <img src="assets/imgs/compliance/compliance.png" class="mobileImg">
            <button mat-icon-button class="d-none d-sm-block">
                <img src="assets/imgs/landing/right-arrow.svg">
            </button>
        </div>

        <div class="col-12 d-flex d-sm-none align-items-center justify-content-between">
            <button mat-icon-button>
                <img src="assets/imgs/landing/left-arrow.svg">
            </button>
            <button mat-icon-button>
                <img src="assets/imgs/landing/right-arrow.svg">
            </button>
        </div>
    </div>
</div>