<div class="footer d-flex align-items-center">
    <div class="container-fluid customContainer">
        <div class="row my-5 py-5 leftPanel">
            <div class="col-12 col-sm-5 col-lg-4 item pt-5 pt-sm-0">
                <div class="row">
                    <div class="col-6 col-sm-12">
                        <div class="mb-5">
                            <img src="assets/logos/logo.svg" class="logo">
                        </div>
                        <h5> dvita@gmail.com </h5>
                        <h5> (704) 555-0127 </h5>
                        <h5> (704) 555-0127 </h5>
                        <h5 class="my-4"> 4517 Washington Ave.<br> Manchester, Kentucky<br> 39495 </h5>
                        <h5 class="contactUs"> Contact us </h5>
                    </div>
                    <div class="col-6 col-sm-12">
                        <select class="form-select form-select-md mb-3 px-0" aria-label=".form-select-lg example">
                            <option value="Eng" selected>English</option>
                            <option value="Spa">Español</option>
                            <option value="Nld">Nederlands</option>
                            <option value="Deu">Deutsch</option>
                            <option value="Fra">Français</option>
                            <option value="Ita">Italiano</option>
                            <option value="Rus">Русский</option>
                            <option value="Por">Português</option>
                            <option value="Ron">Română</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-7 col-lg-8 item">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <a routerLink="/node-election">
                            <h5 class="fw-bold mb-5"> Node Election </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a routerLink="/wallets">
                            <h5 class="fw-bold mb-5"> Wallet </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a routerLink="/applications">
                            <h5 class="fw-bold mb-5"> Applications </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a routerLink="/blogs">
                            <h5 class="fw-bold mb-5"> Blog </h5>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <a routerLink="/explorer">
                            <h5 class="fw-bold mb-4"> Explorer </h5>
                        </a>
                        <a routerLink="/blocks">
                            <h5 class="light"> Blocks </h5>
                        </a>
                        <a routerLink="/transactions">
                            <h5 class="light"> Transactions </h5>
                        </a>
                        <a routerLink="/contracts">
                            <h5 class="light"> Contracts </h5>
                        </a>
                        <a routerLink="/monitor">
                            <h5 class="light"> Monitor </h5>
                        </a>
                        <a routerLink="/statistics">
                            <h5 class="light"> Statistics </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a routerLink="/developer">
                            <h5 class="fw-bold mb-4"> Developer </h5>
                        </a>
                        <a routerLink="/">
                            <h5 class="light"> Whitepaper </h5>
                        </a>
                        <a routerLink="/">
                            <h5 class="light"> Docs </h5>
                        </a>
                        <a routerLink="/">
                            <h5 class="light"> Testnet </h5>
                        </a>
                        <a routerLink="/">
                            <h5 class="light"> Github </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 pt-4 pt-lg-0">
                        <a routerLink="/partners">
                            <h5 class="fw-bold mb-4"> Partners </h5>
                        </a>
                        <a routerLink="/our-partners">
                            <h5 class="light"> Our partners </h5>
                        </a>
                        <a routerLink="/become-our-partner">
                            <h5 class="light"> Become a partner </h5>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 pt-4 pt-lg-0">
                        <a routerLink="/about-us">
                            <h5 class="fw-bold mb-4"> About us </h5>
                        </a>
                        <a routerLink="/team">
                            <h5 class="light"> Team </h5>
                        </a>
                        <a routerLink="/careers">
                            <h5 class="light"> Careers </h5>
                        </a>
                        <a routerLink="/compliance">
                            <h5 class="light"> Compliance </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 py-3">
                <div class="d-none d-sm-flex align-items-center justify-content-between">
                    <img src="assets/icons/facebook.svg">
                    <img src="assets/icons/youtube.svg">
                    <img src="assets/icons/instagram.svg">
                    <img src="assets/icons/linkedin.svg">
                    <img src="assets/icons/twitter.svg">
                    <img src="assets/icons/facebook.svg">
                    <img src="assets/icons/youtube.svg">
                    <img src="assets/icons/instagram.svg">
                    <img src="assets/icons/linkedin.svg">
                    <img src="assets/icons/twitter.svg">
                </div>
                <div class="d-flex d-sm-none align-items-center justify-content-between mb-3">
                    <img src="assets/icons/facebook.svg">
                    <img src="assets/icons/youtube.svg">
                    <img src="assets/icons/instagram.svg">
                    <img src="assets/icons/linkedin.svg">
                    <img src="assets/icons/twitter.svg">
                </div>
                <div class="d-flex d-sm-none align-items-center justify-content-between">
                    <img src="assets/icons/facebook.svg">
                    <img src="assets/icons/youtube.svg">
                    <img src="assets/icons/instagram.svg">
                    <img src="assets/icons/linkedin.svg">
                    <img src="assets/icons/twitter.svg">
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center pt-4 pb-5">
                <span>
                    © 2021 dVita. All right reserved.
                </span>
            </div>
        </div>
    </div>
</div>