.container-fluid {
    .input-group.search {
        border-radius: 4px;
        max-width: 400px;
        width: 400px;
        background-color: var(--grey-color);
        color: var(--dark-grey);
        mat-icon {
        cursor: pointer
    }
      input {
        border-right: 0;
        height: 48px;
        padding: 0 20px;
        border: 2px solid #bbbbbb;
        background-color: var(--grey-color);
        color: var(--dark-grey);
        border-right: none;
        &:focus {
          box-shadow: none;
        }
      }
      .input-group-text {
        background: transparent;
        height: 48px;
        border: 2px solid #bbbbbb;
        border-left: none;
        background-color: var(--grey-color);
        color: var(--dark-grey);
      }
    }
    .dropdownDiv {
        float: right;
    }

    /** Sent Detail Styles */
    .sentDetail {
        position: relative;
        button.mat-icon-button {
            width: 72px;
            height: 72px;
            ::ng-deep .mat-button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .customArrow {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid #8492A5;
                box-sizing: border-box;
            }
        }
    }
    .cardSection {
        flex: 1;
        height: 120px;
        display: flex;
        align-items: center;
        background-color: var(--grey-color);
        border-radius: 4px;
        border: 2px solid #e6e6e6;
        h5 {
            padding-right: 1rem;
        }
        .boxScroll {
            padding-top: 0.5rem;
            padding-right: 1rem;
            overflow: auto;
            scroll-behavior: smooth;
        }
        .boxScroll::-webkit-scrollbar {
            display: none;
        }
        mat-icon:hover {
            color: #43AE44;
            cursor: pointer;
        }
        mat-icon:focus {
            color: #1C8D1D;
            cursor: pointer;
        }
    }
}

.largeText {
    font-size: 96px;
}

.grayCard {
    text-align:center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-color);
    height: 128px;
    border-radius: 4px;
}

.breakWord {
    word-break: break-all;
}

@media screen and (max-width: 991px) {
    .container-fluid {
        .tabletArrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
            height: fit-content;
            button.mat-icon-button {
                width: 32px;
                height: 32px;
            }
        }
    }

    .largeText {
        font-size: 72px;
    }
}

@media screen and (max-width: 991px) {
    .container-fluid {
        .mobileArrow {
            button.mat-icon-button {
                width: 32px;
                height: 32px;
            }
        }
    }
    .largeText {
        font-size: 48px;
    }
}
