.multisig-wallet {
    ul, li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.mat-raised-button {
    height: 48px;
    background: linear-gradient(90deg, #43AE44 0.04%, #B9D577 100%);
    border-radius: 4px;
    color: #000;
    padding: 0 20px;
    &:hover {
        color: #FFF;
    }
}

.roundInput {
    height: 48px;
    border-radius: 24px;
    border: 1px solid #e6e1e1;
    padding: 0 20px;
    background-color: transparent;
}

textarea.roundInput {
    height: 200px;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        flex-grow: 1;
    }
}
