<div class="container-fluid smallCustomContainer">
    <div class="row py-3 py-sm-4">
        <div class="col-12">
            <div class="largeText">
                Bitcoin Statistics in our country
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between pt-4 pb-3">
            <h5 class="m-0"> By Danielle Abril </h5>
            <h5 class="m-0"> Share </h5>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h5> 22.02.2021 </h5>
            <div class="d-flex align-items-center justify-content-between mb-3">
                <img class="mx-2" src="assets/icons/facebook.svg">
                <img class="mx-2" src="assets/icons/youtube.svg">
                <img class="mx-2" src="assets/icons/instagram.svg">
                <img class="mx-2" src="assets/icons/linkedin.svg">
                <img class="mx-2" src="assets/icons/twitter.svg">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="w-100" src="assets/imgs/blog/blog.png">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="fw-bold mt-4">
                You are welcome to become our Partner
            </h3>
            <h5>
                A new cryptocurrency called Internet Computer made a splashy debut this week, becoming one of the
                largest digital coins after its value skyrocketed to $45 billion.
            </h5>
            <h5>
                The coin, developed by the Dfinity Foundation, a nonprofit in Zurich, Switzerland, is a competitor to
                other hot cryptocurrencies like Ethereum and Bitcoin. Internet Computer debuted at a price of $731 on
                Monday then dropped to $146 within minutes before rebounding somewhat. Two days later, the coin was
                priced at about $280, down 60% from its big debut, but still with a total market capitalization of $34.6
                billion.
            </h5>
            <h5>
                For reference, Bitcoin is valued at $53,180, with a market capitalization of $988.9 billion, and
                Ethereum is priced at $4,095 and is valued at $470.7 billion.
            </h5>
            <h5>
                “There has been a parabolic rise of Internet Computer,” said Linda Kreitzman, assistant dean at
                University of California at Berkley’s Haas School of Business who helps oversee the Berkeley Haas
                Blockchain Initiative. “But the broader ramification is that money is flowing into the crypto market and
                there’s a mass adoption of crypto.”
            </h5>
            <h5>
                Internet Computer is just the latest cryptocurrency creating buzz. Just a few days ago it was Dogecoin,
                boosted by Tesla CEO Elon Musk. Here’s what we know about Internet Computer.
            </h5>

            <h3 class="fw-bold">
                What is Internet Computer?
            </h3>
            <h5>
                Internet Computer is a digital token that runs on its own proprietary protocol called Internet Computer
                Protocol, which is supposed to let anyone build software or publish content on the Internet without
                using services from big companies like Amazon, Google, or Facebook. The protocol, according to Dfinity
                founder Dominic Williams, provides a “hackproof platform,” reduces costs “dramatically,” and is
                interoperable. He also says that the protocol is intended to make the Internet “fun again,” by allowing
                people to build a “new open Internet” and give users a “better deal.”
            </h5>
            <h5>
                The idea is similar to other blockchain cryptocurrencies that use smart contracts, or computer codes
                that serve as a kind of agreement between parties, to exchange currencies.
            </h5>

            <h3 class="fw-bold">
                You are welcome to become our Partner
            </h3>
            <h5>
                A new cryptocurrency called Internet Computer made a splashy debut this week, becoming one of the
                largest digital coins after its value skyrocketed to $45 billion.
            </h5>
            <h5>
                The coin, developed by the Dfinity Foundation, a nonprofit in Zurich, Switzerland, is a competitor to
                other hot cryptocurrencies like Ethereum and Bitcoin. Internet Computer debuted at a price of $731 on
                Monday then dropped to $146 within minutes before rebounding somewhat. Two days later, the coin was
                priced at about $280, down 60% from its big debut, but still with a total market capitalization of $34.6
                billion.
            </h5>
        </div>
    </div>
</div>

<div class="py-4"></div>

<div class="followUs container-fluid customContainer my-5">
    <div class="smallCustomContainer">
        <div class="row py-5">
            <div class="col-12 py-5">
                <div class="largeText text-center"> Follow us </div>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/facebook.svg">
                <h3 class="m-0"> Facebook </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/instagram.svg">
                <h3 class="m-0"> Instagram </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/facebook.svg">
                <h3 class="m-0"> Facebook </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/youtube.svg">
                <h3 class="m-0"> Youtube </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/linkedin.svg">
                <h3 class="m-0"> Linkedin </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/instagram.svg">
                <h3 class="m-0"> Instagram </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/instagram.svg">
                <h3 class="m-0"> Instagram </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/twitter.svg">
                <h3 class="m-0"> Twitter </h3>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center py-2">
                <img class="me-2" src="assets/icons/youtube.svg">
                <h3 class="m-0"> Youtube </h3>
            </div>
        </div>
    </div>
</div>

<div class="moreNews container-fluid smallCustomContainer my-5 py-5">
    <div class="row">
        <div class="col-12">
            <div class="largeText">
                More news
            </div>
        </div>
        <div class="col-12 col-sm-6 p-3" *ngFor="let blog of blogList">
            <div class="card border-0 p-3 p-sm-4">
                <img class="w-100" [src]="blog.imgSrc">
                <h3 class="mt-3"> {{ blog.title }} </h3>
                <p>
                    {{ blog.description }}
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <a routerLink="/blog" class="d-flex align-items-center">
                        <h5 class="m-0 me-2"> Read more </h5>
                        <mat-icon>chevron_right</mat-icon>
                    </a>
                    <h5 class="date m-0"> {{ blog.date }} </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 d-block d-sm-none mb-4">
            <div class="arrows d-flex align-items-center justify-content-between">
                <button mat-icon-button class="me-4">
                    <img src="assets/imgs/landing/left-arrow.svg">
                </button>
                <button mat-icon-button>
                    <img src="assets/imgs/landing/right-arrow.svg">
                </button>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <a routerLink="/blogs" class="d-flex align-items-center">
                <h3 class="m-0 me-2">All news</h3>
                <mat-icon>chevron_right</mat-icon>
            </a>
            <div class="arrows d-none d-sm-flex align-items-center justify-content-between">
                <button mat-icon-button class="me-4">
                    <img src="assets/imgs/landing/left-arrow.svg">
                </button>
                <button mat-icon-button>
                    <img src="assets/imgs/landing/right-arrow.svg">
                </button>
            </div>
        </div>
    </div>
</div>