<div class="container-fluid customContainer">
    <div class="row py-5">
        <div class="col-12 col-lg-6">
            <div class="largeText">
                Careers in Dvita
            </div>
        </div>
        <div class="col-12 col-lg-6 py-3 py-lg-5">
            <h3 class="fw-bold textPurple">
                We are platform for an inclusive global economy and digital assets
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4">
            <h5 class="fw-bold">
                Who are we?
            </h5>
            <h5>
                We are learners and doers that don’t shy away from complexity. We make things happen with teams that
                trust, respect and count on each other. We are passionate about the different aspects of
                cryptocurrencies as we are about our clients.
            </h5>
        </div>
        <div class="col-12 col-lg-4">
            <h5 class="fw-bold">
                What do we do?
            </h5>
            <h5>
                We equip our clients with the high-quality tools to safely, easily and reliably invest and use
                cryptocurrencies. For our clients, we provide integrated access to decentralized assets and new
                developments in the crypto space.
            </h5>
        </div>
        <div class="col-12 col-lg-4">
            <h5 class="fw-bold">
                What do we believe?
            </h5>
            <h5>
                Bitcoin Suisse ultimate goal is to accelerate the adoption of cryptocurrencies. We strongly believe that
                an economy based on cryptocurrencies, distributed trust and decentralized financial ecosystems creates a
                fairer and more efficient world.
            </h5>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 py-3 py-lg-5">
            <div class="largeText"> Open Positions </div>
        </div>
        <div class="col-12 col-lg-4 d-none d-lg-block">
            <h3 class="fw-bold"> All </h3>
            <h3> Engineering </h3>
            <h3> Finance & Accounting </h3>
            <h3> Growth </h3>
            <h3> Marketing </h3>
            <h3> Operations </h3>
            <h3> Research </h3>
            <h3> Security </h3>
        </div>

        <div class="col-12 col-lg-8">
            <!-- Engineering -->
            <h3 class="fw-bold"> Engineering </h3>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Network Architect/Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Network Architect/Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>

            <!-- Finance & Accounting -->
            <h3 class="fw-bold mt-4"> Finance & Accounting </h3>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Software Engineer - Distributed Systems Palo Alto, CA | San Francisco, CA
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Network Architect/Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>

            <!-- Growth -->
            <h3 class="fw-bold mt-4"> Growth </h3>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Software Engineer - Distributed Systems Palo Alto, CA | San Francisco, CA
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>

            <!-- Operations -->
            <h3 class="fw-bold pt-4"> Operations </h3>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Network Architect/Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    Software Engineer - Distributed Systems Palo Alto, CA | San Francisco, CA
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
            <div class="position d-flex align-items-center justify-content-between p-3 my-2">
                <h3 class="m-0">
                    DevOps Software Engineer, Zurich, CH
                </h3>
                <button mat-icon-button class="icon">
                    <mat-icon class="d-flex align-items-center justify-content-center">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>