<nav class="navbar" (mouseenter)="closeDropDown=false">
  <div class="container-fluid customContainer p-0">
    <div class="row w-100 m-0">
      <div class="col-12 d-flex px-3 align-items-center justify-content-between">
        <div class="hamburger d-flex d-lg-none align-items-center justify-content-between">
          <button mat-icon-button (click)="toggle()">
            <div class="d-flex align-items-center justify-content-center">
              <mat-icon *ngIf="isOpen; else closed">close</mat-icon>
              <ng-template #closed>
                <img src="assets/icons/menu.svg" class="menuBlack">
              </ng-template>
            </div>
          </button>
        </div>

        <div class="d-flex align-items-center logo">
          <img src="assets/imgs/header/header_dVITA_purple.svg" class="header-logo me-sm-2" (click)="goHome()">
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <div class="connect">
            <button mat-raised-button class="px-3 mx-1" routerLink="/assets/deploy">
              Assets
            </button>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="connect">
            <button mat-raised-button class="px-3 mx-1" routerLink="/blocks">
              Blocks
            </button>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div *ngIf="user; else notLogged" class="dropdownItem">
            <button mat-raised-button [matMenuTriggerFor]="userMenu"
              class="userMenuBtn d-flex align-items-center justify-content-center">
              <p class="m-0 me-2"> {{ user.wallet.account.label || user.wallet.account.address }}
              </p>
              <img src="assets/icons/no-avatar.svg" class="rounded-circle avatar">
            </button>
            <mat-menu #userMenu="matMenu" xPosition="before" class="userMenu mt-3 px-3 rounded">
              <button mat-menu-item class="d-flex align-items-center p-0 px-2" routerLink="/wallet">
                <img src="assets/icons/wallet.svg">
                <p class="m-0 ms-2"> My W3 account </p>
              </button>
              <button mat-menu-item class="d-flex align-items-center p-0 px-2" (click)="logout()">
                <img src="assets/icons/log-out.png">
                <p class="m-0 ms-2"> Log Out </p>
              </button>
            </mat-menu>
          </div>

          <ng-template #notLogged>
            <!-- <div class="login mx-1 d-none d-sm-block">
                  <a routerLink="#" class="btn px-3 d-flex align-items-center border-0"
                    (click)="goLoginConnect('login')">
                    <h5 class="m-0"> Log In </h5>
                  </a>
                </div> -->
            <div class="connect" (click)="goLoginConnect('login')">
              <button mat-raised-button> Connect </button>
            </div>
          </ng-template>
        </div>

        <div class="d-block d-sm-none">
          <button mat-icon-button class="userBtn d-flex align-items-center justify-content-center"
            (click)="mobileNavigate('/login')">
            <img src="assets/imgs/header/userBlack.svg" class="userBlack">
          </button>
        </div>
      </div>
    </div>
  </div>

</nav>