<nav class="navbar" (mouseenter)="closeDropDown=false">
  <div class="container-fluid customContainer p-0">
    <div class="row w-100 m-0">
      <div class="col-12 d-flex px-3 align-items-center justify-content-between">
        <div class="hamburger d-flex d-lg-none align-items-center justify-content-between">
          <button mat-icon-button (click)="toggle()">
            <div class="d-flex align-items-center justify-content-center">
              <mat-icon *ngIf="isOpen; else closed">close</mat-icon>
              <ng-template #closed>
                <img src="assets/icons/menu.svg" class="menuBlack">
              </ng-template>
            </div>
          </button>
        </div>

        <div class="d-flex align-items-center logo">
          <img src="assets/imgs/header/header_dVITA_purple.svg" class="header-logo me-sm-2" (click)="goHome()">

        </div>
        <div class="d-none d-sm-flex align-items-center">
          <div *ngIf="user; else notLogged" class="dropdownItem">
            <button mat-raised-button [matMenuTriggerFor]="userMenu"
              class="userMenuBtn d-flex align-items-center justify-content-center">
              <p class="m-0 me-2"> {{ user.wallet.account.label || user.wallet.account.address }}
              </p>
              <img src="assets/icons/no-avatar.svg" class="rounded-circle avatar">
            </button>
            <mat-menu #userMenu="matMenu" xPosition="before" class="userMenu mt-3 px-3 rounded">
              <button mat-menu-item class="d-flex align-items-center p-0 px-2" routerLink="/wallet">
                <img src="assets/icons/wallet.svg">
                <p class="m-0 ms-2"> My W3 account </p>
              </button>
              <button mat-menu-item class="d-flex align-items-center p-0 px-2" (click)="logout()">
                <img src="assets/icons/log-out.png">
                <p class="m-0 ms-2"> Log Out </p>
              </button>
            </mat-menu>
          </div>

          <ng-template #notLogged>
            <!-- <div class="login mx-1 d-none d-sm-block">
                  <a routerLink="#" class="btn px-3 d-flex align-items-center border-0"
                    (click)="goLoginConnect('login')">
                    <h5 class="m-0"> Log In </h5>
                  </a>
                </div> -->
            <div class="connect" (click)="goLoginConnect('login')">
              <button mat-raised-button> Connect </button>
            </div>
          </ng-template>
        </div>

        <div class="d-block d-sm-none">
          <button mat-icon-button class="userBtn d-flex align-items-center justify-content-center"
            (click)="mobileNavigate('/login')">
            <img src="assets/imgs/header/userBlack.svg" class="userBlack">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="customToggle d-flex d-lg-none" *ngIf="showCustomToggle" [class.openedToggle]="showCustomToggle"
    [@openClose]="isOpen ? 'open' : 'closed'">
    <div [@animSlider]="counter">
      <ng-container *ngFor="let o of list; let i=index">
        <!-- Main Menu -->
        <div class="d-flex align-items-center" *ngIf="i===counter && counter === 0">
          <div class="links d-block d-lg-none align-items-center justify-content-between w-100">
            <hr class="my-0 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="onNext(1)">
                Tools
                <button mat-icon-button class="d-flex align-items-center justify-content-center">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="onNext(2)">
                Explorer
                <button mat-icon-button class="d-flex align-items-center justify-content-center">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="onNext(3)">
                Enterprise
                <button mat-icon-button class="d-flex align-items-center justify-content-center">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="mobileNavigate('')">
                Features
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="onNext(5)">
                Developers
                <button mat-icon-button class="d-flex align-items-center justify-content-center">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="navItem px-3">
              <a class="d-flex align-items-center justify-content-between w-100" (click)="onNext(6)">
                Ecosystem
                <button mat-icon-button class="d-flex align-items-center justify-content-center">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </a>
            </div>
            <hr class="my-1 bg-light">
            <div class="text-white px-3">
              <p class="my-4"> info@dvita.com </p>
              <p class="my-4"> Contact us </p>
              <div class="w-50">
                <span> dVITA Foundation Silicon Avenue 40 Cybercity. #207FL 272201 Ebene, Mauritius </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Tools Submenus -->
        <div *ngIf="i===counter && counter === 1">
          <div class="container-fluid customContainer px-3">
            <div class="row">
              <div class="col-12">
                <div>
                  <button mat-icon-button class="backBtn" (click)="initCounter()">
                    <div class="d-flex align-items-center justify-content-center">
                      <mat-icon class="me-2">arrow_back</mat-icon>
                      <span> Back </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <h2 class="text-light mb-5">
                  Tools for digital life
                  <span class="dotMark">.</span>
                </h2>
              </div>

              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/wallet')">
                  <h4 class="m-0"> Wallets </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> These are our supported wallets </span>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-2" (click)="mobileNavigate('/assets')">
                  <h4 class="m-0"> Assets </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Use OCD - one click contract form and create Your own token </span>
              </div>

              <div class="col-12 col-sm-4 mt-4 mb-2">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/applications')">
                  <h4 class="m-0"> Applications </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> dVITA ecosystem and supported applications </span>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-2" (click)="mobileNavigate('/node-election')">
                  <h4 class="m-0"> Node Election </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> dVITA Blockchain governance section </span>
              </div>

              <div class="col-12 col-sm-4 mt-4 mb-2">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/multisig-wallet')">
                  <h4 class="m-0"> Multi-Signature Wallet </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Create a multi-signature wallet </span>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-2" (click)="mobileNavigate('/create-transaction')">
                  <h4 class="m-0"> Create Transaction </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Create raw unsigned transfer transactions </span>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-2" (click)="mobileNavigate('/verify')">
                  <h4 class="m-0"> Verify and Sign </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Verify transactions and add signatures </span>
              </div>


              <div class="col-12 col-sm-4 pt-4">
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> How to use dVITA Wallet </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> How to deploy one click smart contract/NFT </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> How to vote </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> How to run from office </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Explorer Submenus -->
        <div *ngIf="i===counter && counter === 2">
          <div class="container-fluid customContainer px-3">
            <div class="row">
              <div class="col-12">
                <div>
                  <button mat-icon-button class="backBtn" (click)="initCounter()">
                    <div class="d-flex align-items-center justify-content-center">
                      <mat-icon class="me-2">arrow_back</mat-icon>
                      <span> Back </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <h2 class="text-light mb-5">
                  Explorer
                  <span class="dotMark">.</span>
                </h2>
              </div>
              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/blocks')">
                  <h4 class="m-0"> Blocks </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span class="fw-bold">
                    List with detail of blocks
                  </span>
                  <br>
                  <span>
                    Collected detailed information on blocks in tables
                  </span>
                </div>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-2" (click)="mobileNavigate('')">
                  <h4 class="m-0"> Transactions (Coming soon) </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span class="">
                    List with all transactions
                  </span>
                  <br>
                  <span>
                    Explore crypto and DLT World knowing your assets
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/contracts')">
                  <h4 class="m-0"> Contracts </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span class="">
                    List with contracts
                  </span>
                  <br>
                  <span>
                    NXA Smart-ID is the simplest, fastest and the most secured authentification type online!
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('/node-election')">
                  <h4 class="m-0"> Governance </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span>
                    Each DVITA token represents one vote in the election of the DVITA Council which is
                    responsible for making decisions on the DVITA blockchain
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> Go to Explorer </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Enterprise Submenus -->
        <div *ngIf="i===counter && counter === 3">
          <div class="container-fluid customContainer px-3">
            <div class="row">
              <div class="col-12">
                <div>
                  <button mat-icon-button class="backBtn" (click)="initCounter()">
                    <div class="d-flex align-items-center justify-content-center">
                      <mat-icon class="me-2">arrow_back</mat-icon>
                      <span> Back </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <h2 class="text-light mb-5">
                  Enterprise
                  <span class="dotMark">.</span>
                </h2>
              </div>
              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0"> Mainnet </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0"> Testnet </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0"> Privatenet </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0"> Parachains and Side chains </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Developers Submenus -->
        <div *ngIf="i===counter && counter === 5">
          <div class="container-fluid customContainer px-3">
            <div class="row">
              <div class="col-12">
                <div>
                  <button mat-icon-button class="backBtn" (click)="initCounter()">
                    <div class="d-flex align-items-center justify-content-center">
                      <mat-icon class="me-2">arrow_back</mat-icon>
                      <span> Back </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <h2 class="text-light mb-5">
                  Developers
                  <span class="dotMark">.</span>
                </h2>
              </div>
              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0"> GitHub </h4>
                  <button mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Open source tools and applications </span>
              </div>
              <div class="col-12 col-sm-4"></div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> Deploy a smart contract </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> Create a local test network </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> API </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Ecosystem Submenus -->
        <div *ngIf="i===counter && counter === 6">
          <div class="container-fluid customContainer px-3">
            <div class="row">
              <div class="col-12">
                <div>
                  <button mat-icon-button class="backBtn" (click)="initCounter()">
                    <div class="d-flex align-items-center justify-content-center">
                      <mat-icon class="me-2">arrow_back</mat-icon>
                      <span> Back </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <h2 class="text-light mb-5">
                  We are dVITA.
                  <span class="dotMark">.</span>
                </h2>
              </div>
              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="navigateFoundation()">
                  <h4 class="m-0"> dVITA Foundation </h4>
                  <button mat-icon-button routerLink="">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span> Grant Program </span>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0 mt-4"> dVITA Capital </h4>
                  <button mat-icon-button routerLink="">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <span> Investment arm </span>
              </div>
              <div class="col-12 col-sm-4">
                <div class="d-flex align-items-center justify-content-between mb-1" (click)="mobileNavigate('')">
                  <h4 class="m-0 mt-4"> dVITA LABS </h4>
                  <button mat-icon-button routerLink="">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                <div>
                  <span> Enterprise solutions </span>
                </div>
                <div>
                  <span> Start up solutions </span>
                </div>
                <div>
                  <span> Preferred Partner Program </span>
                </div>
              </div>
              <div class="col-12 col-sm-4 pt-4">
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> About us </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('/faq')">
                    <span> FAQ </span>
                  </a>
                </div>
                <div class="mb-2 text-end">
                  <a (click)="mobileNavigate('')">
                    <span> Community </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>