<div class="container-fluid customContainer">
    <div class="col-12 col-lg-6 py-5">
        <app-page-title>You've connected your {{ socialNetwork }} to our DVITA blockchain with DDNS support!</app-page-title>
        <div class="container-fluid customContainer">
            <h3>You have been awarded with 1 DVT & 10 DVG tokens. Keep connecting your social networks to get more.</h3>
        </div>
        <br>
        <br>
        <div class="container-fluid customContainer">
            <h2>Tweet this.</h2>
        </div>
        <br>
        <br>
        <div class="container-fluid customContainer">
            <h4>Closing in {{ timer }} sec...</h4>
        </div>
    </div>
</div>
