:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--purple-color);
  }
  
  .loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
  
    .counter {
      position: absolute;
      font-size: 40px;
      font-weight: 600;
      color: var(--purple-color);
    }
  
    .status {
      position: absolute;
      bottom: -30px;
      white-space: nowrap;
      font-size: .8rem;
      color: var(--purple-color);
    }
  }
  
  .container-fluid {
    table {
      .mat-column-name {
        width: 15% !important;
      }
  
      .mat-column-code {
        width: 10% !important;
      }
  
      .mat-column-type {
        width: 10% !important;
      }
  
      .mat-column-createdOn {
        width: 25% !important;
      }
  
      .mat-column-hash {
        width: 40% !important;
      }
    }
  }
  
  .description {
    color: grey;
  }
  
  
  .hash-block {
    span {
      position: relative;
      color: grey;
      transition: color .1s ease-in-out;
      padding-right: 40px;
  
      &:hover {
        color: #000;
  
        mat-icon {
          color: #000;
          opacity: 1;
        }
      }
    }
  
    mat-icon {
      position: absolute;
      font-size: 12px;
      padding: 0 10px;
      color: grey;
      top: 4px;
      opacity: 0;
      transition: opacity .1s ease-in-out;
  
      &:hover {
        color: #000;
      }
    }
  }
  
  .form-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    background: var(--grey-color);
    border-radius: 8px;
  }
  
  form {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 540px;
    flex-direction: column;
  
    //Fast Solution
    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  
    .field {
      width: 100%;
      padding: 6px 12px;
      margin-bottom: 14px;
      border: 1px solid #fff;
      outline: none;
      border-radius: 3px;
  
      &:focus {
        border: 1px solid var(--purple-color);
      }
    }
  
    .error {
      input, select, textarea {
        border: 1px solid tomato;
      }
    }
  
    .submit-btn {
      height: 45px;
      width: 50%;
      min-width: 170px;
      margin-top: 20px;
      background: linear-gradient(90deg, #43AE44 0.04%, #B9D577 100%);
      border-radius: 2px;
      box-shadow: none;
      color: black;
      font-size: 20px;
      line-height: 120%;
      ::ng-deep .mat-button-wrapper {
        font-family: "FuturaPT" !important;
        font-weight: 450 !important;
      }
      &:hover {
        color: white;
      }
      &:focus-visible {
        outline: none;
      }
      &:focus {
        box-shadow: none;
      }
    }
  
    // .submit-btn {
    //   height: 45px;
    //   width: 50%;
    //   min-width: 170px;
    //   margin-top: 20px;
    //   background-color: var(--purple-color);
    //   color: #fff;
  
    //   &:disabled {
    //     opacity: .1;
    //   }
    // }
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  
    label {
      padding-bottom: 2px;
    }
  
    input, select {
      display: flex;
      height: 45px;
      @extend .field;
    }
    .disabled {
      pointer-events: none;
    }
  
    select {
      background-color: #fff;
      // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: 16px 12px;
      appearance: none;
  
      &:invalid {
        color: grey;
      }
    }
  
    textarea {
      display: flex;
      height: 84px;
      @extend .field;
      resize: none;
    }
  
    .upload-input {
      display: flex;
      margin-bottom: 14px;
  
      input {
        flex: 1;
        margin-bottom: 0;
        border-radius: 0 3px 3px 0;
      }
  
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 20%;
        min-width: 88px;
        background-color: #e5e2e2;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        transition: all .1s ease-in-out;
  
        &:hover {
          color: #fff;
          background-color: var(--purple-color);
        }
      }
    }
  }
  
  ///Contracts
  .container-fluid {
    .input-group.search {
      border-radius: 24px;
      max-width: 400px;
      width: 400px;
  
      input {
        border-right: 0;
        height: 48px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        padding: 0 20px;
  
        &:focus {
          box-shadow: none;
          border-color: #ced4da;
        }
      }
  
      .input-group-text {
        background: transparent;
        height: 48px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }
  
    .dropdownDiv {
      float: right;
    }
  
    table {
      box-shadow: none;
      width: 100%;
      table-layout: fixed;
  
      .mat-header-cell, .mat-cell {
        width: 20%;
        display: flex;
        align-items: center;
        border: none;
      }
  
      .mat-footer-row, .mat-header-row, .mat-row {
        min-width: 100%;
        display: inline-flex;
        margin: 4px 0;
      }
  
      .mat-header-row {
        margin: 6px 0;
        background: #E3D5E6;
        height: 48px;
  
        .mat-header-cell {
          font-weight: bold;
        }
      }
  
      .mat-row {
        background: #FCFBFC;
        border-radius: 2px 0px 0px 2px;
        height: 60px;
        cursor: pointer;
  
        &:hover {
          box-shadow: 0px 2px 12px rgb(116 45 128 / 15%);
        }
      }
  
      .mat-column-name {
        position: relative;
  
        .leftMark {
          width: 4px;
          height: 100%;
          background: #B9D577;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 2px 0 0 2px;
        }
  
        .leftMark.grid {
          background: #B9D577;
        }
  
        .leftMark.box {
          background: #43AE44;
        }
  
        .leftMark.home {
          background: #FFAB48;
        }
      }
  
      .mat-column-type, .mat-column-transactions {
        button.mat-icon-button {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
  
          mat-icon {
            font-size: 16px;
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  
    mat-paginator {
      visibility: hidden;
      height: 0;
    }
  }
  
  .largeText {
    font-size: 96px;
  }
  
  td {
    min-width: 0;
  
    span {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    mat-icon {
      margin-right: 10px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .container-fluid {
      table {
        .mat-column-name {
          width: 25%;
        }
  
        .mat-column-code {
          width: 20%;
        }
  
        .mat-column-type {
          width: 12%;
        }
  
        .mat-column-hash {
          width: 19%;
        }
  
        .mat-column-createdOn {
          width: 24%;
        }
      }
    }
    .largeText {
      font-size: 72px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .container-fluid {
      table {
        // Imported Fast solution for Friday please remove later
        .mat-column-name {
          width: 40% !important;
        }
  
        .mat-column-code {
          display: none
        }
  
        .mat-column-type {
          display: none;
        }
  
        .mat-column-createdOn {
          display: none;
        }
  
        .mat-column-hash {
          width: 60% !important;
        }
      }
    }
  }  