<div class="newFooter">
    
    <div class="d-flex align-items-center justify-content-between mb-2">
        <div class="horizontalLine"></div>
    </div>

    <div class="container-fluid customContainer copyRight">
        <div class="row">
            <div class="col-12 d-block d-sm-flex align-items-center justify-content-between">
                <div class="text-center text-sm-start mb-3">
                    <div class="row rightLink">
                        <div class="col-12">
                            <h5 class="text-end d-flex d-sm-block align-items-center justify-content-around mt-5">
                                <a href="mailto: info@dvita.com"><span class="info mx-0 mx-sm-3"> info@dvita.com </span></a>
                                <a routerLink="#"> Contact Us </a>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="text-center text-sm-end mb-3">
                    <span>
                        © 2022, <a href="https://stagingfoundation.dvita.com/">dVITA.Foundation</a>, All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>