<div class="newFooter">
    <div class="container-fluid customContainer">
        <div class="row mb-5 py-5 leftPanel">
            <div class="col-12 col-sm-12 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <img class="footer-logo" src="assets/imgs/header/header_dVITA_purple.svg">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="#">
                        Tools
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/wallet">
                        Wallets
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/assets-deploy">
                        Assets
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/multisig-wallet">
                        Multi-Signature Wallet
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/verify">
                        Verify and Sign
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/create-transaction">
                        Create Transaction
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/applications">
                        Applications
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/node-election">
                        Node Election
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="/explorer">
                        Explorer
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/blocks">
                        Blocks
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/contracts">
                        Contracts
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Transactions
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/node-election">
                        Governance
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="#">
                        Enterprise
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Mainnet
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Privatenet
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Testnet
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Parachains and Side chains
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="#">
                        Legal
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/terms">
                        Terms of Service
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/policy">
                        Privacy Policy
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="/license">
                        License
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="#">
                        Features
                    </a>
                </div>
                <!-- <div class="disabled">
                    <a routerLink="#">
                        Advanced Smart Contracts
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        Oracle
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        DFS
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        DNS
                    </a>
                </div>
                <div class="disabled">
                    <a routerLink="#">
                        ID
                    </a>
                </div> -->
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="/developer">
                        Developers
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="">
                        Github
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 pt-3 pt-sm-4 pt-lg-5">
                <div class="item">
                    <a routerLink="#">
                        Ecosystem
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="#" (click)="popUpMessage()">
                        dVITA Foundation
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="#" (click)="popUpMessage()">
                        dVITA LABS
                    </a>
                </div>
                <div class="subItem">
                    <a routerLink="#" (click)="popUpMessage()">
                        dVITA Capital
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mb-2">
        <div class="horizontalLine"></div>
    </div>

    <div class="container-fluid customContainer copyRight">
        <div class="row">
            <div class="col-12 d-block d-sm-flex align-items-center justify-content-between">
                <div class="text-center text-sm-start mb-3">
                    <div class="row rightLink">
                        <div class="col-12">
                            <h5 class="text-end d-flex d-sm-block align-items-center justify-content-around mt-5">
                                <a href="mailto: info@dvita.com"><span class="info mx-0 mx-sm-3"> info@dvita.com </span></a>
                                <a routerLink="#"> Contact Us </a>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="text-center text-sm-end mb-3">
                    <span>
                        © 2022, <a href="https://stagingfoundation.dvita.com/">dVITA.Foundation</a>, All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>